@import url('https://fonts.googleapis.com/css2?family=NTR&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

$gap: 10px;

// Colors
$board-bg-color: #0079bf;
$column-border-radius: 5px;
$primary-color: rgba(255, 255, 255, 0.24);