@import '_setting.scss';

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    margin: 0;
    line-height: 1.3em;
}

.app { 
    height: 100vh; 
    overflow-y: hidden;
    background-color: $board-bg-color;

    .icon {
        font-size: 14px;
        margin-right: 3px;
    }
}



